{port_specs, [
    {"priv/eroaring.so", ["c_src/*.c"]}
]}.

{port_env, [
    {"CC", "cc"},
    % the roaring code uses some advanced CPU features, too lazy to figure out
    % which ones, but they should be specified explicitly instead of just with
    % 'native'
    {"CFLAGS", "$CFLAGS -march=native -O3"},
    {"LFLAGS", "$LDFLAGS -march=native -O3"}
]}.
